*{
    font-family: Arial, Helvetica, sans-serif;
}

/* 1. tag selector */

h1{
    background-color: aqua;
    width: 20%;
    padding: 10px;
    border-radius: 20px;
}

/* 2. class selector */

.subTitle{
    font-style: italic;
    text-decoration: underline;
}

h4.sT1{
    background-color: yellow;
    width: 20%;
}

.sT2{
    color: blueviolet;
}


/* 3. id selector */

#kegiatan1{
    color: red;
}

ul li#kegiatan2{
   background-color: coral;
   margin-bottom: 5px;
   width: 10em;
}


/* 4. child selector */

p>b{
    color: green;
}

li>b{
    color: rgb(128, 0, 117);
}


/* 5. decendant selector */

p b{
    color: green;
}